<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/libs/pure/pure-min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>View all comments</title>

</head>
<body>
    <div id="render">

    </div>
    <script>
    const createTable = (jsonify)=>{
        ths='';
        for (const [key, value] of Object.entries(jsonify[0])) {
            ths += `<th>${key}</th>`
        }
        ths+=`<th>Action</th>`
        let thead = `<tr>${ths}</tr>`;
        let tbody = '';
        jsonify.map((val)=>{
                let tds =''
                for (const [key, value] of Object.entries(val)) {
                    tds += `<td>${value}</td>`
                }
                tds+= `<td><button value="${val.id}" class="button-error pure-button">Delete</button></td>`
                let row = `<tr id=${val.id}>${tds}</tr>`
                console.log(row)
                tbody+=row
            });
        let table = `<table class="pure-table"><thead>${thead}</thead><tbody>${tbody}</tbody></table>`;
        
        return table
    }


    window.onload = async function() {
        const resp = await fetch('/test');
        const parse = await resp.text();
        const jsonify = JSON.parse(parse);
        
        let renderDiv = document.getElementById('render');
        renderDiv.innerHTML = createTable(jsonify);

        
        
    };
    
    
    </script>
</body>
</html>